body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:24px;
  width:300px;
  height:25px;
}
#u388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:271px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:117px;
  width:493px;
  height:271px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:156px;
  width:114px;
  height:22px;
}
#u390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u390_input:disabled {
  color:grayText;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:153px;
  width:84px;
  height:22px;
}
#u391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u391_input:disabled {
  color:grayText;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:153px;
  width:41px;
  height:25px;
}
#u392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:153px;
  width:41px;
  height:25px;
}
#u393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:272px;
  width:140px;
  height:40px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:272px;
  width:140px;
  height:40px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:215px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:312px;
  width:5px;
  height:200px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:512px;
  width:202px;
  height:82px;
}
#u397_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:215px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:312px;
  width:5px;
  height:200px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:512px;
  width:300px;
  height:76px;
}
#u399_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
